.header {
    width: 100vw;
    height: 75px;
    background-color: var(--basic_color);
}

.wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

.linksWrapper, .buttonsWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.linksWrapper {
    width: 80%;
    justify-content: space-between;
}

.buttonsWrapper {
    width: 20%;
    justify-content: space-around;
}

.changeUser {
    background-color: rgba(0, 0, 0, 0);
    font-size: 12px;
    padding: 6px 12px;
    border: thin solid var(--contrast_color);
    border-radius: 12px;
    color: var(--contrast_color);
}

.active {
    background-color: var(--contrast_color);
    color: var(--emphasis_color);
}

