@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:root {
    --basic_color: #6096B4;
    --first_complementary_color: #93BFCF;
    --second_complementary_color: #BDCDD6;
    --emphasis_color: #EEE9DA;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}
